<div>
  <!--[if !mso 9]><!-->
  <a class="menu-trigger show-on-mobile mobile-center" style="display: none; background-color: #FFFFFF; position: relative;">
    <img src="img/icons/menu-icon.png" width="20" style="padding: 10px 20px; float: left; margin-left: -100em; max-height: 0; width: 100%; max-width: 20px;">
  </a>
  <!--<![endif]-->
  <div class="hamburger-menu">
    <table class="menu mobile-vertical mobile-center mobile-margin-top" cellpadding="0" cellspacing="0">
      <tr>
        <th class="menu-item mobile-text-center">
          <table class="textbutton" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th>
                <a href="http://example.com" editable label="Menu Link 1" style="color: #999999; font-size: 14px; text-decoration: none;">NEWS</a>
              </th>
            </tr>
          </table>
        </th>
        <th class="menu-item mobile-text-center" style="padding-left: 15px;">
          <table class="textbutton" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th>
                <a href="http://example.com" editable label="Menu Link 2" style="color: #999999; font-size: 14px; text-decoration: none;">SERVICES</a>
              </th>
            </tr>
          </table>
        </th>
        <th class="menu-item mobile-text-center" style="padding-left: 15px;">
          <table class="textbutton" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th>
                <a href="http://example.com" editable label="Menu Link 3" style="color: #999999; font-size: 14px; text-decoration: none;">WORK</a>
              </th>
            </tr>
          </table>
        </th>
        <th class="menu-item mobile-text-center" style="padding-left: 15px;">
          <table class="textbutton" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th>
                <a href="http://example.com" editable label="Menu Link 4" style="color: #999999; font-size: 14px; text-decoration: none;">STORE</a>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </div>
</div>
