<table class="wrapper" align="center" bgcolor="#EEEEEE" cellpadding="0" cellspacing="0" width="100%" data-module="Divider" data-bgcolor="Outside" data-group="Components">
  <tr>
    <td>
      <table align="center" class="row divider" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" data-bgcolor="Inside">
        <tr>
          <th width="640" height="81" style="padding: 0 30px;" data-height="Divider">
            <div style="border-top: 1px solid #EEEEEE; line-height: 0;" data-border-color="Divider">&nbsp;</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
