<table class="menu mobile-margin-top" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <th class="menu-item" style="padding-right: 30px;">
      <span mc:edit>
        <a href="http://example.com" style="color: #999999; font-size: 14px; text-decoration: none;">NEWS</a>
      </span>
    </th>
    <th class="menu-item" style="padding-right: 30px;">
      <span mc:edit>
        <a href="http://example.com" style="color: #999999; font-size: 14px; text-decoration: none;">SERVICES</a>
      </span>
    </th>
    <th class="menu-item" style="padding-right: 30px;">
      <span mc:edit>
        <a href="http://example.com" style="color: #999999; font-size: 14px; text-decoration: none;">WORK</a>
      </span>
    </th>
    <th class="menu-item">
      <span mc:edit>
        <a href="http://example.com" style="color: #999999; font-size: 14px; text-decoration: none;">STORE</a>
      </span>
    </th>
  </tr>
</table>
