table tr td a {
    text-decoration: none;
    color: #383b3d;
}

table tr td a:hover {
    text-decoration: none;
    color: #383b3d;
}

.layout-fluid .page__container {
    max-width: 100% !important;
}